.featured-product-card {
    img{
        border-radius: 10px;
    }
    img:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    .featured-product-name {
        font-size: 19px;
        font-weight: 700;
    }
}